<section class="pt-5 pb-5 mb-5">
  <div class="container mb-50">
    <div class="row w-100">
      <div class="col-lg-12 col-md-12 col-12">
        <h3 class="display-5 text-center">Carrinho</h3>
        <p class="mb-3 text-center">
          Tem
          <i class="text-danger font-weight-bold">{{
            compra.itensCompra?.length
          }}</i>
          itens no seu carrinho
        </p>
        <table id="shoppingCart" class="table table-condensed table-responsive">
          <thead>
            <tr>
              <th style="width: 60%">Produto</th>
              <th style="width: 12%">Preço</th>
              <th style="width: 10%">Quantidade</th>
              <th style="width: 16%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of compra.itensCompra">
              <td data-th="Product">
                <div class="row">
                  <div class="col-md-3 text-left">
                    <img
                      [src]="
                        URL_FOTO + item.produto.id + '/' + item.produto.foto
                      "
                      alt=""
                      class="img-fluid d-none d-md-block rounded mb-2 shadow"
                      width="70px"
                      height="70px"
                    />
                  </div>
                  <div class="col-md-9 text-left mt-sm-2">
                    <h4>{{ item.produto.nome }}</h4>
                    <p class="font-weight-light">
                      {{ item.produto.descricao }}
                    </p>
                  </div>
                </div>
              </td>
              <td data-th="Price">
                $ {{ item.produto.preco | currency: "BRL":true }}
              </td>
              <td data-th="Quantity">
                <input
                  type="number"
                  min="1"
                  step="1"
                  onkeyup="if(this.value<=0){this.value= 1}"
                  class="form-control form-control-lg text-center"
                  [placeholder]="item.quantidade"
                  [(ngModel)]="item.quantidade"
                />
              </td>
              <td class="actions" data-th="">
                <div class="text-right">
                  <button
                    class="btn btn-white border-secondary bg-white btn-md mb-2"
                    (click)="
                      subtotalRecalcular(item.quantidade, item.produto.id)
                    "
                  >
                    <i class="fas fa-sync fa-cog"></i>
                  </button>
                  <button
                    class="btn btn-white border-secondary bg-white btn-md mb-2 delete-color"
                    (click)="deletar(item.produto.id)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="float-end text-end">
          <h4>Subtotal:</h4>
          <h1>{{ subtotal | currency: "BRL":true }}</h1>
          <button
            [routerLink]="['/carrinho/finalizar']"
            class="btn btn-primary mb-4 btn-lg pl-5 pr-5"
            [disabled]="compra.itensCompra.length == 0"
          >
            Finalizar compra
          </button>
        </div>
        <div class="float-start text-start">
          <a [routerLink]="['/produtos/listar']">
            <i class="fas fa-arrow-left mr-2"></i> Continue comprando</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
